#lh-button-import {
  background: url("../node_modules/@fortawesome/fontawesome-free/svgs/solid/file-upload.svg")
    no-repeat;
}
#lh-button-clear {
  background: url("../node_modules/@fortawesome/fontawesome-free/svgs/solid/trash.svg")
    no-repeat;
}
#lh-button-save {
  background: url("../node_modules/@fortawesome/fontawesome-free/svgs/solid/save.svg")
    no-repeat;
}
#lh-button-widgets {
  background: url("../node_modules/@fortawesome/fontawesome-free/svgs/solid/puzzle-piece.svg")
    no-repeat;
}
#lh-button-export {
  background: url("../node_modules/@fortawesome/fontawesome-free/svgs/solid/print.svg")
    no-repeat;
}
.lh-button-toggle {
  background: url("../node_modules/@fortawesome/fontawesome-free/svgs/regular/square.svg")
    no-repeat;
}
.lh-button-toggle-on {
  background: url("../node_modules/@fortawesome/fontawesome-free/svgs/regular/check-square.svg")
    no-repeat;
}
.lh-button-close {
  background: url("../node_modules/@fortawesome/fontawesome-free/svgs/solid/times.svg")
    no-repeat;
  border: none;
  background-position: center;
  background-size: 1rem;
  cursor: pointer;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 10rem;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}

.lh-document-container {
  max-width: 935px;
  margin-left: auto;
  margin-right: auto;
}

.lh-document-container > *:not(.lh-page-wrapper):not(.lh-page) {
  margin: 3rem auto;
  width: 935px;
}

.lh-page-wrapper:not(.lh-extra-page),
.lh-page:not(.lh-extra-page) {
  /* Add border to match Quill editors */
  border: 1px solid #ccc;
}

.lh-page-area,
.lh-page {
  position: relative;
  width: 935px;
  margin: 20px auto 40px auto;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}

.lh-page {
  height: 1210px;
}

.lh-quill-page div.ql-container {
  height: 1210px;
  padding: 52px;
}

.lh-page-toolbar {
  font-family: Arial, Helvetica, sans-serif;
  width: 935px;
  margin: 5rem auto 0 auto;
}

.lh-page-toolbar h2 {
  display: inline-block;
  margin: 1rem;
  margin-left: 3rem;
}

.lh-page-toolbar .lh-button-wrapper {
  float: right;
  margin: 0.5rem;
  margin-right: 3rem;
}

.lh-button-wrapper button {
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
  font-size: 2rem;
}

.lh-aside {
  padding: 5rem;
  width: 15rem;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  top: 0;
}

.lh-widget-name {
  font-size: 1.5rem;
  border: none;
  background: transparent;
}

.lh-icon-button {
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
}

#lh-menu button,
.lh-aside > button {
  padding: 0.5rem;
  padding-left: 4rem;
  font-size: 1rem;
  width: 100%;
  margin: 2rem 0;
  text-align: left;
  border: none;
  cursor: pointer;
}

#lh-menu p {
  font-size: 0.8rem;
}

.lh-aside input[type="file"] {
  display: none;
}

.lh-sidebar-container {
  right: 0;
  width: 25rem;
  display: flex;
  flex-flow: column;
}

#lh-dimmer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 998;
}

#lh-dialog-wrapper {
  position: relative;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 999;
}

#lh-dialog {
  background-color: white;
  padding: 5rem;
  position: fixed;
  margin: auto;
  width: 20rem;
  top: 10vh;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#lh-dialog input[type="reset"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  background-size: 1.5rem;
}

#lh-dialog select,
#lh-dialog input {
  padding: 0.5rem;
}

#lh-widget-list {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin-bottom: 2rem;
}

#lh-widget-list li {
  padding: 0.5rem;
  font-weight: bold;
  height: 1rem;
  position: relative;
  margin-bottom: 1rem;
  border-bottom: black 1px solid;
  padding-left: 5px;
}

#lh-widget-list button {
  height: 2rem;
  width: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}

.lh-input-with-button {
  display: flex;
}
.lh-input-with-button :first-child {
  flex-grow: 1;
}

.lh-widget {
  margin-bottom: 2rem;
  margin-top: 1rem;
  position: relative;
}

.lh-widget summary {
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.hidden {
  opacity: 0;
}

.lh-invalid-field {
  border-color: red;
}

.lh-animation-flash-yellow {
  animation: lh-animation-flash-yellow 1s ease-out;
  animation-iteration-count: 1;
}
@keyframes lh-animation-flash-yellow {
  0% {
    background-color: #ffff9c;
  }
  50% {
    background-color: #ffff9c;
  }
  100% {
    background-color: initial;
  }
}

.lh-animation-pulse-yellow {
  animation: lh-animation-pulse-yellow 0.5s;
  animation-iteration-count: 5;
}
@keyframes lh-animation-pulse-yellow {
  0% {
    background-color: #ffff9c;
    box-shadow: 0px 0px 15px 5px #ffff9c;
  }
  50% {
    background-color: #ffff9c;
    box-shadow: 0px 0px 15px 5px #ffff9c;
  }
  100% {
    background-color: transparent;
    box-shadow: initial;
  }
}

.lh-quill-field .ql-editor a {
  /* Quill has it's own underline option, so don't force it for all links */
  text-decoration: none !important;
}

div.ql-editor {
  padding: 0;
}

@media print {
  @page {
    size: auto;
    margin: 0;
    padding: 0;
  }
  body * {
    visibility: hidden;
  }
  .lh-page-area *,
  .lh-page * {
    visibility: visible;
  }
  body,
  html {
    padding-top: 0;
  }
  html,
  body {
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
  }
  .lh-page-area,
  .lh-page {
    margin: 0 auto;
    padding-top: 52px;
    page-break-after: always;
    visibility: visible;
    border: none;
    /* Required for background image to print */
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
  .lh-page-wrapper:not(.lh-extra-page),
  .lh-page:not(.lh-extra-page) {
    border: none;
  }
  .lh-quill-page div.ql-container {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    height: 1158px;
  }
  .ql-toolbar {
    display: none;
  }
  .lh-page-toolbar {
    display: none;
  }
  .lh-document-container > *:not(.lh-page-wrapper):not(.lh-page) {
    display: none;
  }
  a,
  .lh-quill-field .ql-editor a {
    color: black;
  }
}

@media screen and (max-width: calc(935px + 60rem)) {
  .lh-sidebar-container {
    padding-right: 0;
  }
}

@media screen and (max-width: calc(935px + 50rem)) {
  .lh-document-container {
    margin-left: 25rem;
  }
  /* Not supported on narrow screens */
  .lh-sidebar-container {
    display: none !important;
  }
}

@media screen and (max-width: calc(935px + 27rem)) {
  .lh-aside {
    position: relative;
    padding: 2rem;
    width: 100%;
    max-width: 46rem;
    margin: auto;
  }
  .lh-aside button {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
  }
  .lh-document-container {
    margin-left: auto;
  }
}
